body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: sans-serif;
    background: linear-gradient(to right, #DECBA4, #587272);
}

#heading{
    font-size: 6rem;
    width: 100vw;
    text-align: center;
    color: rgb(36, 44, 91);
}

#para{
    width: 60vw;
    text-align: justify;
    font-size: 1.5rem;
    color: rgb(46, 46, 46);
    line-height: 2rem;
}

#progress{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0,0,2,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}


@media screen and (max-width: 576px){
    
    #heading{
        font-size: 3rem;
    }

    #para{
        font-size: 1rem;
        line-height: 140%;
        width: 70vw;
    }

    #progress{
        height: 50px;
        width: 50px;
    }

    #progress-value{
        font-size: 0.7rem;
    }

}


